<noscript>You need to enable JavaScript to make this website working.</noscript>

<!-- ----------You can delete this part-->
<style>
    .sourceCode {
        text-align: center;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sourceCode a {
        text-decoration: none;
        border: 0;
        font-size: 12px;
        font-weight: bold;
        padding: 10px 13px;
        border-radius: 3px;
        color: #5584AC;
        background-color: #22577E;
        align-items: center;
        display: flex;
        gap: 10px;
        max-width: 150px;
    }
</style>
<div class="sourceCode">
    <a href="https://github.com/ayoubmamouni/url-shortner-nodejs">
        <span>
            View on Github
        </span>
        <span class="iconify" data-icon="logos:github-icon" data-width="20" data-height="20"></span>
    </a>
    
</div>
<!-- ------------------------------------>

<footer>
    <% if(config.showSocialIcons){ %>
    <div class="social-links">
        <% config.socialIcons.forEach(icon=>{%>
        <div>
            <i class="<%= icon.icon %>"></i>
        </div>
        <%})%>
    </div>
    <% } %>
    <div class="copyright-info">
        <p><%- config.footerText %></p>
    </div>
</footer>