<!-- Show loading animation before page is loaded -->
  <!-- <div class="loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div> -->

<!-- To close navbar when user clicking on any place in page. -->
<!-- <div class="overlay"></div>

<header>
    <nav>
        <div class="logo">
            <span id="logo"><h1>Awesome Brand</h1></span>
        </div>
        <div id="nav-toggle">
            <div id="line1"></div>
            <div id="line2"></div>
            <div id="line3"></div>
        </div>
        <ul id="nav-ul">
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Privacy Policy</a>
            </li>
            <li>
                <a href="#">Term of Use</a>
            </li>
        </ul>
    </nav>
</header> -->