<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/_head.ejs') %>
    <title><%= config.title %> </title>
    <% if(config.showNavbar) {%>
    <script defer src="../js/header.js"></script>
    <% } %>
    <link rel="stylesheet" href="../css/pageStyles/docs.css">
</head>

<body>
    <!-- Show navbar -->
    <% if(config.showNavbar) {%>
    <%- include('./components/_header_loader.ejs') %>
    <% } %>

    <section class="docs-section">
        <div class="docs-content">
            <h1 class="title">Here you will learn how to install this application, And how to deploy it.</h1>
            <div class="docs-subtitle">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime numquam sapiente distinctio.</p>
            </div>
            <div class="docs-description">
                <div class="item">
                    <b>What languages are used for this project?</b>
                    <br>
                    <p>I built this simple project with those languages.</p>
                    <ul>
                        <li><span>HTML</span></li>
                        <li><span>CSS</span></li>
                        <li><span>Sass</span> (I wrote CSS using Sass, CSS pre processor)</li>
                        <li><span>JavaScript</span> (My favorite language 💛, This language is everything for this
                            webite.)</li>
                        <li><span>SweetAlert2</span> (For beatiful alerts)</li>
                        <li><span>Nodejs/Express</span> (I used Express as a Nodejs framework for backend)</li>
                        <li><span>Mongoose</span> (I used Mongoose to connect to MongoDb)</li>
                        <li><span>Ejs</span> (I used Ejs as a template view engine for this project)</li>
                        <li><span>QRCode</span> (I used QRCode lib to generate QRCode for short Links)</li>
                        <li><span>Clipboard</span> (I used Clipboard lib to copy short Links to clipboard)</li>
                    </ul>
                </div>
                <div class="item">
                    <b>How to install this application</b>
                    <br>
                    <p>Here you will learn how to get started..</p>
                    <p>This application depends on Nodejs and Mongodb</p>
                    <p>So please make sure you have Nodejs installed on your machine before opening this application</p>
                    <p>To install Nodejs go to <a href="#">Nodejs official website</a> Then download and install it.</p>
                    <p>if you need to help for download and install Nodejs please watch this video => <a href="#">How to
                            download and install Nodejs</a></p>
                    <p>Now you can check if Nodejs is installed on your machine by adding this command in terminal</p>
                    <code>node --version</code>
                    <p>if you see the version of Nodejs thats mean everything is fine</p>
                    <p>Now check if NPM installed</p>
                    <code>npm --version</code>
                    <p>(don't worry, NPM will be installed with Nodejs by default)</p>
                    <p>Then you need to install Mongodb on your machine</p>
                    <p>if wou need help How to download and install Mongodb please click here to read more about this <a
                            href="#">How to download and install Mongodb</a></p>

                </div>
                <div class="item">
                    <b>How to install this project?</b>
                    <br>
                    <p>There is file in this project named <span class="file">.env</span> it contains Local URI
                        database (for
                        development mode)</p>
                    <code><span class="uri">URI</span>=mongodb://localhost/shortUrl</code>
                    <p>When you ready to deploy your application please uncomment <span class="file">.env</span> file in
                        <span class="file">.gitignore</span> file, just remove # before <span class="file">.env</span>
                    </p>

                    <p>You can change local DB with real online mongoDB server</p>
                    <Label>Example</Label>
                    <p>From</p>
                    <code><span class="uri">URI</span>=mongodb://localhost/shortUrl</code>
                    <p>To</p>
                    <div class="mongodb-uri">
                        <pre><span class="uri">URI</span>=mongodb://DB_USERNAME:YOURPASSWORD@cluster0-shard-00-00.auidd.mongodb.net:27017,cluster0-shard-00-01.auidd.mongodb.net:27017,cluster0-shard-00-02.auidd.mongodb.net:27017/DATABASE_NAME?ssl=true&replicaSet=atlas-hoe7u3-shard-0&authSource=admin&retryWrites=true&w=majority</pre>
                    </div>
                    <p>Please Sign up to MongoDb and get your own db link <a href="#">Sign up</a></p>
                    <p>If you want to read more how to Create your account and and how to get your database link from
                        MongoDB Please <a href="#">Click here</a></p>
                </div>
                <div class="item">
                    <b>What next?</b>
                    <br>
                    <p>After all this, now open your terminal or cmd and install all packages, make sure you are in
                        correct directory</p>
                    <code>npm install</code>
                    <p>Now all packages will be installed</p>
                    <p>After that, Now run your application by adding the following line</p>
                    <code>npm run dev</code>
                    <p>You will see these two lines on your terminal</p>
                    <div class="success-lines">
                        <label>Server runing on port 3000</label> <br>
                        <label>Successfully connected to MongoDb</label>
                    </div>
                    <p>Now open your browser and go to</p>
                    <label><a href="http://localhost:3000">http://localhost:3000</a></label>
                </div>
                <div class="item">
                    <b>What changes can I do for website?</b>
                    <br>
                    <p>There is a lot of changes you can do, I developed a file I named it <span
                            class="file">global-settings</span></p>
                    <p>in this file you can do any change you want in website (just switch between True and False)</p>
                    <ul>
                        <li><span>Navbar</span> (You can hide or display navbar)</li>
                        <li><span>Recent Link</span> (You can hide or display Recent Link)</li>
                        <li><span>Ads</span> (You can display or hide Ads from your website)</li>
                        <li><span>Public links</span> (You can display or hide Public links)</li>
                        <li><span>Text</span> (You can change any text in website..)</li>
                        <li><span>Social Icons</span> (You can add social icons to website.)</li>
                        <li><span>Add link to navbar</span> (Add any link to website.)</li>
                    </ul>
                    <p>You can do all this and more just from <span class="file">global-settings</span> file</p>
                </div>
                <div class="item" style="line-height: 1.2rem;">
                    <b>How to add your custom Ads?</b>
                    <br>
                    <p>To add your custom Ads go to </p>
                    <pre><span class="file">views</span> <span style="background: #000; color: yellow;">&gt;</span> <span class="file">components</span> <span style="background: #000; color: yellow;">&gt;</span> <span class="file">ads</span></pre>
                    <p>inside <span class="file">ads</span> folder there is four files you need.</p>
                    <br>
                    <label style="background:grey; padding: 2px;">_ad-head-script.ejs </label><br>
                    <span class="file-description">if you have a head script and you want to put it between HEAD tags just past your script in this file. You can add google Adsense Head script or any alternative to google adsense</span> <br>
                    <br>
                    <label style="background:grey; padding: 2px;">_ad1-script.ejs </label><br>
                    <span class="file-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, ut!</span><br>
                    <br>
                    <label style="background:grey; padding: 2px;">_ad2-script.ejs </label><br>
                    <span class="file-description">Lorem ipsum dolor sit.</span><br>
                    <br>
                    <label style="background:grey; padding: 2px;">_ad3-script.ejs </label><br>
                    <span class="file-description">Lorem ipsum dolor sit amet.</span>
                    <br>
                </div>
                <div class="docs-footer-contact-me">
                    <b>Any questions?</b>
                    <p>if you have any questions you can contact me</p>
                    <ul>
                        <li><span>Email: </span><a href="mailto:iksdev@yahoo.com">iksdev@yahoo.com</a></li>
                        <li><span>Facebook: </span><a href="https://facebook.com/iksdev">Facebook-profile</a></li>
                        <li><span>Whatsapp: </span><a>06 80 14 88 10</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <%- include('./components/_footer.ejs') %>
</body>

</html>