.top-content {
  // background: darken($Color5, 3%);
  margin: 20px 5px;
  overflow: auto;
  width: 95%;
  padding: 15px;
  transition: 250ms;
  text-align: center;
  .main-title {
    padding-bottom: 10px;
    margin-bottom: 10px;
    @media screen and (max-width: 600px) {
      font-size: 20px;
    }
    font-size: 35px;
    // font-weight: 700;
  }
  .main-description {
    p {
      @media screen and (max-width: 600px) {
        font-size: 13px;
      }
      line-height: 1.5rem;
      color: aliceblue;
      opacity: 0.7;
      font-weight: 100;
    }
  }
}
