// Colors
$Color: #3a3845; //public links - backgruond clor -
$Color1: #5584ac; //main input text -
$Color2: #22577e; //recent url and main input section bg -
$Color3: #5584ac; //website links color
$Color5: #183153; // app theme color.
$Color6: #f7f5f2; //main input bg
$Color7: #1d5fd2; //External link pages - nav links
$Color8: #95d1cc;
