// Colors 
$Color:#2f0642;
$Color1 : #1b1b1b;
$Color2 : #323232;
$Color3 : #fc6e20; //brand, links and local pages Color 
$Color4 : #232c27;
$Color5 : #284854;
$Color6 : #b8b8aa;
$Color7: #1d5fd2; //External link pages