@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #42c2ff;
  outline: 1px solid #dff6ff;
}

header {
  background-color: #102137;
  border-bottom: 5px solid #29548e;
  height: 70px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  margin-bottom: 30px;
}

header #close-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  header #close-menu {
    display: block;
    margin-top: 20px;
    background-color: orangered;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    border: none;
  }
}

header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header nav .nav-toggle {
  display: none;
}

@media screen and (max-width: 992px) {
  header nav #nav-toggle {
    display: block;
    margin-right: 20px;
    cursor: pointer;
  }
  header nav #nav-toggle div {
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    -webkit-transition: 200ms;
    transition: 200ms;
  }
  header nav #nav-toggle .top {
    -webkit-transform: rotate(45deg) translate(12px, -5px);
            transform: rotate(45deg) translate(12px, -5px);
    width: 20px;
  }
  header nav #nav-toggle .middle {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  header nav #nav-toggle .bottom {
    -webkit-transform: rotate(-45deg) translate(12px, 5px);
            transform: rotate(-45deg) translate(12px, 5px);
    width: 20px;
  }
}

header nav .logo {
  margin-left: 20px;
  cursor: pointer;
}

header nav .logo #logo {
  color: #5584ac;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

header nav .logo #logo .first-letter {
  color: Ccolor6;
}

header nav .menu-list {
  -webkit-transform: scale(1);
          transform: scale(1);
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  header nav ul {
    background-color: #102137;
    border-left: 5px solid #29548e;
    border-bottom: 5px solid #29548e;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0;
    top: 50.4px;
    z-index: 99;
    padding: 0 2rem;
    padding-bottom: 2rem;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: 300ms -webkit-transform ease-in-out;
    transition: 300ms -webkit-transform ease-in-out;
    transition: 300ms transform ease-in-out;
    transition: 300ms transform ease-in-out, 300ms -webkit-transform ease-in-out;
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  header nav ul li {
    margin-top: 30px;
  }
}

header nav ul li {
  list-style: none;
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #5584ac;
  font-weight: bold;
  position: relative;
}

header nav ul li a:before {
  content: "";
  width: 0%;
  height: 5px;
  border-radius: 5px;
  background-color: #5584ac;
  position: absolute;
  top: 1.30rem;
  -webkit-transition: 200ms width ease-in-out;
  transition: 200ms width ease-in-out;
}

header nav ul li a:hover::before {
  width: 100%;
}

header nav ul li a.externalLink {
  color: #1d5fd2;
}

header nav ul li a.externalLink:before {
  background-color: #1d5fd2;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #232c27;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader div {
  width: 8px;
  height: 50px;
  background-color: #fc6e20;
  margin: 5px;
  border-radius: 1rem;
  -webkit-animation: loading 800ms infinite alternate;
          animation: loading 800ms infinite alternate;
}

.loader div:nth-child(odd) {
  background-color: #b8b8aa;
  -webkit-animation: loading2 800ms infinite alternate;
          animation: loading2 800ms infinite alternate;
}

.hideLoader {
  display: none !important;
}

@-webkit-keyframes loading {
  from {
    height: 25px;
  }
  to {
    height: 50px;
  }
}

@keyframes loading {
  from {
    height: 25px;
  }
  to {
    height: 50px;
  }
}

@-webkit-keyframes loading2 {
  from {
    height: 50px;
  }
  to {
    height: 25px;
  }
}

@keyframes loading2 {
  from {
    height: 50px;
  }
  to {
    height: 25px;
  }
}

.overlay {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.303);
  min-width: 100%;
  min-height: 100%;
  z-index: 90;
}

.showOverlay {
  display: block;
}

.top-content {
  margin: 20px 5px;
  overflow: auto;
  width: 95%;
  padding: 15px;
  -webkit-transition: 250ms;
  transition: 250ms;
  text-align: center;
}

.top-content .main-title {
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 35px;
}

@media screen and (max-width: 600px) {
  .top-content .main-title {
    font-size: 20px;
  }
}

.top-content .main-description p {
  line-height: 1.5rem;
  color: aliceblue;
  opacity: 0.7;
  font-weight: 100;
}

@media screen and (max-width: 600px) {
  .top-content .main-description p {
    font-size: 13px;
  }
}

section#lastUrl {
  width: 95%;
  border-radius: 5px;
  background: #152a47;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last-url-content {
  overflow: auto;
  width: 100%;
  padding: 0 1rem;
}

#lastUrl-title {
  font-size: 18px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 1rem;
}

.user-recent-url-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.full-short-url-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: auto;
}

@media screen and (min-width: 1200px) {
  .full-short-url-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .full-short-url-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.recent-url-card {
  background: #103569;
  margin: 5px;
  width: 300px;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  max-width: 300px;
  min-width: 200px;
  overflow: hidden;
  border-radius: 20px;
}

.recent-url-card-title {
  background: #06172f;
  padding: 6px;
  text-align: center;
}

.recent-url-card-main-content {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-between; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  height: 100%;
}

.recent-user-urls {
  overflow: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  line-height: 1.4;
  width: 100%;
  padding: 7px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
}

.recent-user-urls div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  color: #84b4f6;
}

/* label[for="user-short-url"]{
  color: red;
} */
/* btns tyles */
button {
  border: 0;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

#updatePublicPrivateLink {
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  background: #0992ad;
  color: #f4f4f4;
}

.copyRecentURL {
  padding: 5px 7px;
  background: #0992ad;
  color: #f4f4f4;
}

.copyRecentURL:active {
  position: relative;
  top: 1px;
}

#clicksCount {
  color: #4cff2d;
  font-size: 40px;
}

.creation-recent-url-date {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 13px;
  opacity: 0.6;
}

select#LinkPoblicPrivateValue {
  padding: 10px;
  width: 150px;
  font-size: 20px;
  border: 0;
  outline: none;
  background: #1854a9;
  color: #c1f4c5;
}

#updatePublicPrivateLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 5px 7px;
  color: #f4f4f4;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 3px;
}

#updatePublicPrivateLink:active {
  position: relative;
  top: 1px;
}

#updatePublicPrivateLink #update-icon {
  margin: 0 6px;
  display: none;
}

#updatePublicPrivateLink #update-icon .animatioDivs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#updatePublicPrivateLink #update-icon .animatioDivs div {
  width: 3px;
  height: 3px;
  background: #f4f4f4;
  margin: 0 2px;
  border-radius: 100%;
}

#updatePublicPrivateLink #update-icon .animatioDivs div:nth-child(odd) {
  -webkit-animation: divsAnimationsOdd 500ms infinite alternate linear;
          animation: divsAnimationsOdd 500ms infinite alternate linear;
}

#updatePublicPrivateLink #update-icon .animatioDivs div:nth-child(even) {
  -webkit-animation: divsAnimationsEven 500ms infinite alternate linear;
          animation: divsAnimationsEven 500ms infinite alternate linear;
}

#public-or-private {
  font-size: 30px;
  color: #4cff2d;
}

#public-or-private.active {
  color: #ff4c2d;
}

.ad-container {
  margin: 10px 2rem;
  max-width: 700px;
  -webkit-transition: 500ms;
  transition: 500ms;
  border: 2px solid aqua;
  width: 95%;
}

@media (max-width: 500px) {
  .ad-container {
    margin: 0.5rem 10px;
  }
}

@media (min-width: 800px) {
  .ad-container {
    min-width: 650px;
  }
}

.ad-container .ad-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ad-container .ad-item img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.row-clicks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#refresh-clicks {
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  padding: 5px 7px;
  background: #0992ad;
  color: #f4f4f4;
  color: #c1f4c5;
}

#refresh-clicks:active {
  position: relative;
  top: 1px;
}

#refresh-clicks:active {
  background: #0a5577;
}

#refresh-icon {
  margin: 0 6px;
  display: none;
}

#refresh-icon .animatioDivs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#refresh-icon .animatioDivs div {
  width: 3px;
  height: 3px;
  background: white;
  margin: 0 2px;
  border-radius: 100%;
}

#refresh-icon .animatioDivs div:nth-child(odd) {
  -webkit-animation: divsAnimationsOdd 500ms infinite alternate linear;
          animation: divsAnimationsOdd 500ms infinite alternate linear;
}

#refresh-icon .animatioDivs div:nth-child(even) {
  -webkit-animation: divsAnimationsEven 500ms infinite alternate linear;
          animation: divsAnimationsEven 500ms infinite alternate linear;
}

.disabledClick {
  pointer-events: none !important;
}

.rotateRefreshIcon {
  display: block !important;
}

@-webkit-keyframes divsAnimationsOdd {
  from {
    position: relative;
    top: -2px;
  }
  to {
    position: relative;
    top: 2px;
    background: yellowgreen;
  }
}

@keyframes divsAnimationsOdd {
  from {
    position: relative;
    top: -2px;
  }
  to {
    position: relative;
    top: 2px;
    background: yellowgreen;
  }
}

@-webkit-keyframes divsAnimationsEven {
  from {
    position: relative;
    top: 2px;
  }
  to {
    position: relative;
    top: -2px;
    background: #b2e73e;
  }
}

@keyframes divsAnimationsEven {
  from {
    position: relative;
    top: 2px;
  }
  to {
    position: relative;
    top: -2px;
    background: #b2e73e;
  }
}

.public-link-choice {
  background: #1d3a63;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  border-radius: 3px;
}

.public-link-choice .checkbox-message label {
  color: #f7f5f2;
  font-size: 15px;
  margin-right: 5px;
}

.public-link-choice select {
  border: 0;
  padding: 5px;
  background: #214473;
  color: white;
  outline: none;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.public-link-choice select option {
  background: #172f4f;
}

footer {
  padding: 2rem 0;
  padding-bottom: 1rem;
  text-align: center;
  color: #a1a0a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-links {
  max-width: 700px;
  padding: .5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
  grid-gap: 1rem;
  overflow: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  border-radius: 5px;
  width: 95%;
}

@media (max-width: 300px) {
  footer .social-links {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 500px) and (min-width: 300px) {
  footer .social-links {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
}

footer .social-links div {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-links div i {
  color: dlighten(#183153, 10);
  width: 100%;
  height: 100%;
  background: arken(#183153, 10);
  border-radius: .5rem;
  font-size: 2rem;
}

footer #site {
  color: #5584ac;
}

body {
  background: #183153;
  font-family: "Ubuntu", sans-serif;
  color: #effffd;
}

.header {
  padding: 2rem 1rem;
  background-color: #22577e;
  text-align: center;
}

.header h1 {
  color: white;
}

section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#total-urls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#total-urls #total-urls-title {
  color: #f5f5f5;
  opacity: 0.6;
  margin-right: 10px;
}

#total-urls #counter-urls {
  color: #51ff00;
}

.warning-message {
  text-align: center;
  line-height: 1.4;
  padding: 20px;
}

.warning-message h1 {
  color: #f43f1f;
}

.warning-message p {
  letter-spacing: 1.1px;
}

.showLinksBox-button {
  text-align: center;
  margin: 0.5rem 3rem;
  width: 90%;
}

@media (max-width: 500px) {
  .showLinksBox-button {
    margin: 0.5rem 10px;
  }
}

@media (min-width: 800px) {
  .showLinksBox-button {
    min-width: 650px;
  }
}

.showLinksBox-button #show-public-links {
  border-radius: 7px;
  font-size: 18px;
  border: 1px solid navy;
  -webkit-transition: 150ms;
  transition: 150ms;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding: 0.6rem 3rem;
  color: white;
  background: #0f890f;
  border: 2px solid aqua;
}

.showLinksBox-button #show-public-links:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.showLinksBox-button .closeShowLinksBtn {
  background: #c5360a !important;
}

.all-public-urls {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 1rem;
  padding: 1rem;
}

@media screen and (max-width: 700px) {
  .all-public-urls {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.public-url-card {
  text-align: center;
  background: #25497a;
  width: 95%;
  overflow: auto;
  padding: 1rem;
  border-radius: 10px;
}

.public-url-full-url,
.public-url-short-url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.public-url-short-url {
  margin: 10px 0;
}

.copy {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 15px;
  background: #5584ac;
  color: #f4f4f4;
  border: #275390 2px solid;
  cursor: pointer;
  outline: none;
}

.copy:active {
  position: relative;
  top: 1px;
}

.public-url-clicks-number {
  margin: 10px 0;
  color: #33ff00;
}

.public-url-clicks-number .public-url-click-word {
  font-size: 15px;
}

.public-url-createdAt {
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  background: #152a47;
  margin: 0.3rem 2rem;
  overflow: auto;
  border-radius: 10px;
  padding: 15px;
  -webkit-transition: 250ms;
  transition: 250ms;
  width: 95%;
}

.container label {
  color: #42c2ff;
  font-size: 30px;
  margin: 10px 0;
}

.container .main-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.container .main-input #fullURL {
  width: 70%;
  padding: 10px;
  font-size: 20px;
  border-radius: 3px;
  border: 0;
  outline: none;
  color: #5584ac;
  margin: 10px 0;
  margin-bottom: 0;
  background-color: #f7f5f2;
  -webkit-transition: 50ms;
  transition: 50ms;
}

@media screen and (max-width: 600px) {
  .container .main-input #fullURL {
    width: 100%;
  }
}

.container .main-input #fullURL::-webkit-input-placeholder {
  color: #5584ac;
  opacity: 0.4;
}

.container .main-input #fullURL:-ms-input-placeholder {
  color: #5584ac;
  opacity: 0.4;
}

.container .main-input #fullURL::-ms-input-placeholder {
  color: #5584ac;
  opacity: 0.4;
}

.container .main-input #fullURL::placeholder {
  color: #5584ac;
  opacity: 0.4;
}

.container .main-input #fullURL:focus {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  background-color: white;
}

.container .main-input #submit-button {
  border-radius: 7px;
  font-size: 18px;
  border: 1px solid navy;
  -webkit-transition: 150ms;
  transition: 150ms;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding: 12px 25px;
  background: #00b4d8;
  color: #caf0f8;
  border-radius: 3px;
  width: 120px;
  border: 0;
}

.container .main-input #submit-button:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.container .main-input #submit-button:active {
  position: relative;
  top: 1px;
}

.container .total-urls {
  margin-top: 15px;
}
/*# sourceMappingURL=main.css.map */