*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #42c2ff;
  outline: 1px solid #dff6ff;
}

header {
  background-color: #102137;
  border-bottom: 5px solid #29548e;
  height: 70px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  margin-bottom: 30px;
}

header #close-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  header #close-menu {
    display: block;
    margin-top: 20px;
    background-color: orangered;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    border: none;
  }
}

header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header nav .nav-toggle {
  display: none;
}

@media screen and (max-width: 992px) {
  header nav #nav-toggle {
    display: block;
    margin-right: 20px;
    cursor: pointer;
  }
  header nav #nav-toggle div {
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    -webkit-transition: 200ms;
    transition: 200ms;
  }
  header nav #nav-toggle .top {
    -webkit-transform: rotate(45deg) translate(12px, -5px);
            transform: rotate(45deg) translate(12px, -5px);
    width: 20px;
  }
  header nav #nav-toggle .middle {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  header nav #nav-toggle .bottom {
    -webkit-transform: rotate(-45deg) translate(12px, 5px);
            transform: rotate(-45deg) translate(12px, 5px);
    width: 20px;
  }
}

header nav .logo {
  margin-left: 20px;
  cursor: pointer;
}

header nav .logo #logo {
  color: #5584ac;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

header nav .logo #logo .first-letter {
  color: Ccolor6;
}

header nav .menu-list {
  -webkit-transform: scale(1);
          transform: scale(1);
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  header nav ul {
    background-color: #102137;
    border-left: 5px solid #29548e;
    border-bottom: 5px solid #29548e;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0;
    top: 50.4px;
    z-index: 99;
    padding: 0 2rem;
    padding-bottom: 2rem;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: 300ms -webkit-transform ease-in-out;
    transition: 300ms -webkit-transform ease-in-out;
    transition: 300ms transform ease-in-out;
    transition: 300ms transform ease-in-out, 300ms -webkit-transform ease-in-out;
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  header nav ul li {
    margin-top: 30px;
  }
}

header nav ul li {
  list-style: none;
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #5584ac;
  font-weight: bold;
  position: relative;
}

header nav ul li a:before {
  content: "";
  width: 0%;
  height: 5px;
  border-radius: 5px;
  background-color: #5584ac;
  position: absolute;
  top: 1.30rem;
  -webkit-transition: 200ms width ease-in-out;
  transition: 200ms width ease-in-out;
}

header nav ul li a:hover::before {
  width: 100%;
}

header nav ul li a.externalLink {
  color: #1d5fd2;
}

header nav ul li a.externalLink:before {
  background-color: #1d5fd2;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #232c27;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader div {
  width: 8px;
  height: 50px;
  background-color: #fc6e20;
  margin: 5px;
  border-radius: 1rem;
  -webkit-animation: loading 800ms infinite alternate;
          animation: loading 800ms infinite alternate;
}

.loader div:nth-child(odd) {
  background-color: #b8b8aa;
  -webkit-animation: loading2 800ms infinite alternate;
          animation: loading2 800ms infinite alternate;
}

.hideLoader {
  display: none !important;
}

@-webkit-keyframes loading {
  from {
    height: 25px;
  }
  to {
    height: 50px;
  }
}

@keyframes loading {
  from {
    height: 25px;
  }
  to {
    height: 50px;
  }
}

@-webkit-keyframes loading2 {
  from {
    height: 50px;
  }
  to {
    height: 25px;
  }
}

@keyframes loading2 {
  from {
    height: 50px;
  }
  to {
    height: 25px;
  }
}

.overlay {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.303);
  min-width: 100%;
  min-height: 100%;
  z-index: 90;
}

.showOverlay {
  display: block;
}

footer {
  padding: 2rem 0;
  padding-bottom: 1rem;
  text-align: center;
  color: #a1a0a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-links {
  max-width: 700px;
  padding: .5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
  grid-gap: 1rem;
  overflow: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  border-radius: 5px;
  width: 95%;
}

@media (max-width: 300px) {
  footer .social-links {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 500px) and (min-width: 300px) {
  footer .social-links {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
  }
}

footer .social-links div {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-links div i {
  color: dlighten(#183153, 10);
  width: 100%;
  height: 100%;
  background: arken(#183153, 10);
  border-radius: .5rem;
  font-size: 2rem;
}

footer #site {
  color: #5584ac;
}

body {
  background: #183153;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.page .container {
  background: #12253f;
  margin: .3rem 2rem;
  overflow: auto;
  border-radius: 10px;
  max-width: 700px;
  padding: 1.3rem;
  -webkit-transition: 500ms;
  transition: 500ms;
  border: 2px solid aqua;
  width: 95%;
}

@media (max-width: 500px) {
  .page .container {
    margin: .5rem 10px;
  }
}

@media (min-width: 800px) {
  .page .container {
    min-width: 650px;
  }
}

.page .container .page-card .page-title {
  padding: 0.5rem;
}

.page .container .page-card .page-title h1 {
  padding-bottom: 10px;
  color: #20416f;
  border-bottom: 5px solid #1e3d67;
}

.page .container .page-card .page-title p {
  padding: 0.5rem 0;
  font-size: 10px;
  opacity: .6;
  color: #d9d9b8;
}

.page .container .page-card .page-text .item {
  padding: 0 0.5rem;
  margin-bottom: 1rem;
  border-left: 2px solid #1e3d67;
}

.page .container .page-card .page-text .item b {
  margin: 0.5rem 0;
  color: #23487b;
}

.page .container .page-card .page-text .item p {
  line-height: 1.3rem;
  font-size: 14px;
  color: #fdfcfb;
  opacity: .7;
}

.page .container .page-card .page-text .last-updated-date {
  padding: 0.5rem;
  padding-bottom: 0;
}

.page .container .page-card .page-text .last-updated-date em {
  opacity: .8;
  color: #d9d9b8;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page .container .page-card .page-text .last-updated-date p {
  margin-top: 0.2rem;
  font-size: 10px;
  opacity: .7;
  color: #2f60a2;
}
/*# sourceMappingURL=pp-and-terms-pages.css.map */