<!-- Here you can add ad script -->

<div class="ad-container">
    <div class="ad-item">
        <!-- Delete this img tag and add your custom Ad script -->
        <!-- <img src="./images/ad1.png" alt=""> -->
        <amp-skimlinks layout="nodisplay" publisher-code="191679X1663190"></amp-skimlinks>
        <!-------------->
    </div>
</div>