<!-- Here you can add ad script -->

<div class="ad-container">
    <div class="ad-item">
        <!-- Delete this img tag and add your custom Ad script -->
        <img src="./images/ad2.png" alt="">
        <!-------------->
    </div>
</div>